<div class="jumbotron py-3">
    <h1 class="display-4 text-center"> Agregar Personas </h1>
</div>
<div class="row">
       <div class="col-md-6"><app-abisoft-persona></app-abisoft-persona></div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Nombre Completo</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Fecha de Inscripción</th>
                    <th>Costo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.fullName}}</td>
                    <td (click)="populateForm(pd)">{{pd.age}}</td>
                    <td (click)="populateForm(pd)">{{pd.dob}}</td>
                    <td (click)="populateForm(pd)">{{pd.inscriptionDate}}</td>
                    <td (click)="populateForm(pd)">{{pd.cost}}</td>
                    <td><i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

